<div class="card">
    <div class="card-header">
        <h5>Create new Booking</h5>
    </div>
    <div class="card-body">
        <form>

            <div class="row mb-2">
                <div class="col">
                    <!-- Id -->
                    <label class="form-label">Id</label>
                    <input class="form-control" type="text">
                </div>
        
                <div class="col">
                    <!-- Roomnumber -->
                    <label class="form-label">Room Number</label>
                    <input class="form-control" type="text">
        
                </div>
            </div>
        
            <div class="row mb-2">
                <div class="col-6">
                    <!-- name -->
                    <label class="form-label">Guest Name</label>
                    <input class="form-control" type="text">
        
                </div>
            </div>
        
            <div class="row mb-2">
        
        
                <div class="col">
                    <label class="form-label">Start Date</label>
                    <input class="form-control" type="text">
                    <!-- StartDate -->
               </div>
        
                <div class="col">
                    <label class="form-label">End Date</label>
                    <input class="form-control" type="text">
                    <!-- EndDate -->
                </div>
        
            </div>
        </form>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary">Submit</button>
    </div>
</div>

